.favorites__img {
    width: 30rem;
    height: 100%;
    background-image: url('images/1000x1000.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}