@import 'sass/abstracts/variables';
@import 'sass/base/base';
@import 'sass/base/typography';
@import 'sass/components/background';
@import 'sass/components/button-reset';

.container {
    width: 100vw;
    height: 100vh;

    position: absolute;
}