.todo {
    background-color: rgba(35, 35, 35, 0.9);

    color: var(--color-light-grey-2);
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    border-left: var(--color-light-grey-2) 1rem solid;
    box-shadow: var(--main-box-shadow);

    transition: all 0.3s ease;

    &:hover {
        background-color: rgba(55, 55, 55, 0.3);
    }

    &__delete-button {
        background-color: transparent;
        border: none;
        color: var(--color-light-grey-2);
        cursor: pointer;
        transition: transform 0.3s ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}